// Header
$HeaderBackgroundColor: #141C2F;

// Button 
$buttonBackgroundColor: #141C2F;
$buttonFontColor: white;
$buttonBorder: 2px solid #141C2F;
$buttonPadding: 10px 70px;
$buttonBorderRadius: 5px;
$buttonMarginBottom: 30px;

// p
$pWidth: 40%; 

// card
$cardShadow:0px 0px 10px rgba(92, 92, 92, 0.2);
$cardBorderRadius: 5px;

// Fonts
$Font: 'Merriweather', serif;

// Footer
$FooterBackgroundColor: #141C2F; 

// Overlay
// $OverlayBackgroundColor: #090E17;